@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
  /*## Colors*/
  /*### Primary*/
  --pink: hsl(322, 100%, 66%);

  /*### Neutral*/
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /*## Typography*/
  /*### Body Copy*/
  --font-size: 18px;

  /*### Headings*/
  --ff-poppins: 'Poppins', sans-serif;

  /*### Body, Call-to-actions*/
  --ff-open-sans: 'Open Sans', sans-serif;

  --semi-bold: 600;
  --regular: 400;
  --bold: 700;
}

* {
  max-width: 100%;
  /*color: white !important;
  background-color: black !important;
  outline: 1px solid green !important;*/
}

body {
  
}

.text-muted {
  color: var(--very-dark-cyan) !important;
}

.shadow-sm {
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2) !important;
}

.btn-primary {
  background-color: var(--pink) !important;
  border-color: var(--pink) !important;
}

.btn-primary:hover, .btn-outline-primary:hover {
  opacity: .8;
}

.btn-outline-primary {
  border-color: var(--pink) !important;
  color: var(--pink) !important; 
}

.btn-outline-primary:hover {
  background-color: white !important;
}

.hero-p {
  margin-left: 17%;
  margin-right: 17%;
}

.icon {
  width: 2rem;
  transform: translateX(-250%);
}

header .logo {
  width: 15rem;
}

h1, h2, h3 {
  font-family: var(--ff-poppins) !important;
}

h1 {
  font-size: 3rem;
  margin-top: 6rem;
  letter-spacing: 0;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

p, span {
  font-size: var(--font-size);
}

p, span, .btn {
  font-family: var(--ff-open-sans);
}

h1+p {
  padding-left: 10rem;
  padding-right: 10rem;
}

.btn {
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.cta {
  padding: 1.7rem 7rem;
}

.box-1, .box-3 {
  background-color: rgba(246,251,255,255);
}

.number span{
  font-size: 6rem;
}

.number p {
  font-size: 1.5rem;
  color: var(--grayish-blue) !important;
}

footer>div {
  background-color: var(--very-dark-cyan);
  color: white;
}

.img-white {
  filter: brightness(0) invert(1);
  width: 10rem;
  min-width: 10%;
}

footer ul li {
  margin-top: 1rem;
}

footer address {
  padding-right: 15rem !important;
}

footer address+div p {
  padding-right: 15rem !important; 
}

footer address+div form {
  padding-right: 10rem !important; 
}

.social-icon img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
  margin-right: 1rem;
}