:root {
  /*## Colors */
  /*### Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /*### Neutral */
  --very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /*## Typography */
  /*### Body Copy */
  --font-size-p: 1.13rem;

  /*### Font */
  --font-outfit: 'Outfit', sans-serif;
  --light:  300;
  --regular:  400;
  --semi-bold:  600;
}

.attribution { font-size: 0.67rem; text-align: center; color: white; }
.attribution a { color: var(--cyan); }

body {
  background-color: var(--very-dark-blue);
}

article.card {
  background-color: var(--very-dark-blue-card-bg);
  border-color: var(----very-dark-blue-line);
}

h1, p, span {
  font-family: var(--font-outfit);
}

h1.card-title {
  color: var(--white);
  font-weight: var(--semi-bold);
}

a {
  color: var(--white); 
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}

p, span {
  color: var(--soft-blue);
  tab-size: 1.12rem;
  font-weight: var(--light);
}

.price {
  font-weight: var(--regular);
  color: var(--cyan);
}

img[alt="profile"] {
  width: 1.87rem;
}

.image-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: hsla(178, 100%, 50%, .5);
}

.image-overlay:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}