@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
 /* Colors*/
 /*# Primary*/
 /*## Text*/
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

 /*## Gradient*/
  /*Background gradient:*/
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

 /*# Neutral*/
 /*## Text*/
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

 /*## Dividers*/
  --Light-grayish-blue: hsl(240, 5%, 91%);

 /* Typography*/
 /*# Body Copy*/
  --Font-size: .75rem;

 /*# Font*/
  --Kumbh-sans-font: 'Kumbh Sans', sans-serif;
  --regular: 400;
  --bold: 700;

}

*{
  /*box-shadow:inset 0px 0px 0px 1px green;*/
  font-family: var(--Kumbh-sans-font);
}

body {
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
}

h1 {
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--bold);
  font-size: 2rem;
}

h2 {
  color: var(--Very-dark-grayish-blue) !important;
}

p {
  font-weight: var(--regular);
  font-size: var(--Font-size);
}

.card {
  box-shadow: 0 2rem 3rem -1rem rgba(0,0,0,.4) !important;
}

.card-body {
  padding-right: 6rem !important;
}

#default-focus {
  font-weight: var(--regular);
}

.accordion-button:hover {
  color: var(--Soft-red) !important;
}
.accordion-button {
  font-weight: var(--regular);
  font-size: var(--Font-size);
}

.accordion-button:not(:focus), .accordion-button:focus {
  background-color: white !important;
  color: var(--Very-dark-desaturated-blue) !important;
}

.accordion-button:not(.collapsed){
  font-weight: var(--bold);
  padding-bottom: .75rem;
}

.accordion-button:not(.collapsed)::after, .accordion-button.collapsed::after {
  background-image: url('../images/icon-arrow-down.svg');
  background-size: .7rem;
}

.accordion-button.collapsed::after {
  transform: translateX(50%);
}

.accordion-item {
  border-color: var(--Light-grayish-blue) !important;
}

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus  {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}

.accordion-body {
  color: var(--Dark-grayish-blue);
  padding-top: 0;
  padding-bottom: 0;
}

.decor-img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: -5rem 4rem;
}

.decor-bg-img {
  background-image: url('../images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: -36.5rem -19rem;
  background-size: 60rem;
}

.decor-box {
  top: 50%;
  transform: translate(-50%, -28%);
  width: 12rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 48em) {
  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .decor-img {
    position: absolute;
    top: 0%;
    left: 50%;
    object-fit: unset;
    object-position: unset;
    transform: translate(-50%, -53%);
    width: 15rem;
  }

  .decor-bg-img {
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 15rem;
    min-height: 10rem;
  }

  .card-body {
    text-align: center;
    padding: 0 !important;
  }

  h1 {
    margin-bottom: 2rem !important;
  }
}